.eror-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 60vh;
}

.erorMain-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}


img {
    font-size: 150px;
}

.text-eror, .img-eror {
    font-size: 50px;
    color: red;
    animation: vibrate-1 0.3s linear infinite both;
}

@keyframes vibrate-1 {
    0% { transform: translate(0); }
    20% { transform: translate(-2px, 2px); }
    40% { transform: translate(-2px, -2px); }
    60% { transform: translate(2px, 2px); }
    80% { transform: translate(2px, -2px); }
    100% { transform: translate(0); }
}


@media  screen and (max-width: 1300px) {
    .eror-content {
    position: relative;
    }
}

@media  screen and (max-width: 420px) {
    .eror-content {
    position: relative;
    }

    .img-eror {
        width: 100px;
        height: 100px;
    }

    .text-eror {
        font-size: 30px;
    }
}