/* nav bar */


a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.navigationContent {
    padding: 20px;
}


.navigationContent ul{
    display: flex;
    flex-direction: row;
    gap: 20px;
    list-style: none;
    align-items: center;
}